@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto:400,500,900');

body {
  background-color: #BDECB6;
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

#app {
  width: 80%;
  margin: 0 auto;

  .coach-schedule {
    
  }
}
